<p-table [value]="todos">
    <ng-template pTemplate="header">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Completed</th>
            <th>User Id</th>
            <th>Action</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-todo>
        <tr>
            <td>{{todo.id}}</td>
            <td>{{todo.title}}</td>
            <td>{{todo.completed}}</td>
            <td>{{todo.userId}}</td>
            <td><a (click)="getTodoById(todo.id)">View</a></td>
        </tr>
    </ng-template>
</p-table>